<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
    <appenders>

        <!-- Referencia para patterns: http://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
        
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        
        <RollingFile name="root-RollingFile" fileName="logs/app.log" filePattern="logs/$${date:yy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %class{36} %L %M - %msg%xEx%n" />
            <SizeBasedTriggeringPolicy size="1 MB" />
        </RollingFile>
        
        <RollingFile name="model-RollingFile" fileName="logs/model.log" filePattern="logs/$${date:yy-MM}/model-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %class{36} %L %M - %msg%xEx%n" />
            <SizeBasedTriggeringPolicy size="1 MB" />
        </RollingFile>
        
        <RollingFile name="data-RollingFile" fileName="logs/data.log" filePattern="logs/$${date:yy-MM}/data-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %class{36} %L %M - %msg%xEx%n" />
            <SizeBasedTriggeringPolicy size="1 MB" />
        </RollingFile>
    </appenders>
    <loggers>
        <Logger name="br.org.catolicasc.vendas.model" level="all" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="model-RollingFile" />
        </Logger>
        <Logger name="br.org.catolicasc.vendas.data" level="all" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="data-RollingFile" />
        </Logger>
        
        <Root level="all">
            <AppenderRef ref="Console" />
            <AppenderRef ref="root-RollingFile" />
        </Root>
    </loggers>
</configuration>